#service {
    background-image: url('../../assets/img/bg2.jpeg');
}

.service-item {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #fff;
    padding: 20px;
}
.service-item .content {
    color: #000;
    font-size: 14px;
    text-align: center;
}
.service-item .content i {
    font-size: 60px;
    color: #22262a;
}
.mt-m5 {
    margin-top: -50px;
}

.container {
    z-index: 20;
}