html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px!important;
}
.parallax {
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-blur {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: -60px;
	background-color: rgba(0, 0, 0, .7);
	z-index: 0;
}

nav {
    transition: .4s;
}
nav {
    opacity: .97;
    height: 50px;
}
nav.top {
    background-color: transparent!important;
    height: 70px;
}
nav.top ul a{
    color: #fff!important;
}
.navbar-small { display: none!important; }
.navbar-small .content {
	width: 70%;
	height: 100%;
	position: fixed;
	right: 0;
	background-color: #22262a;
	padding-top: 20px;
}
.navbar-small .content .item {
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	border-bottom: 1px solid #666;
}

.row { margin: 0!important;}
.btn { white-space: nowrap; }
td.block{
	width: 1%;
	white-space: nowrap;
}

.pt-nav{
	padding-top: 60px;
}
.pb-nav{
	padding-bottom: 60px;
}

.bg-theme {
	background-image: url('./assets/img/bg.png');
}

.bg-grey {
	background-color: #22262a!important;
}

.bg-black {
	background-color: #000!important;
}

.bg-section2 {
	background-color: #22262a!important;
	color: #fff;
}.bg-section2 hr{
	border-color: #fff!important;
}

ul.list-tech {
	margin-top: 30px;
}
ul.list-tech li {
	margin-top: 6px;
	margin-bottom: 6px;
}

#profile img {
	max-height: 360px;
}

@media only screen and (max-width: 992px) {
	.navbar-large{ display: none!important; }
	.navbar-small{ display: block!important; }
	nav.pl-5{
		padding-left: 20px!important;
	}
	nav.pr-5{
		padding-right: 20px!important;
	}

	nav.top {
		background-color: #22262a!important;
	}

	nav i {
		font-size: 24px!important;
	}
	nav .nav-link { padding: 6px 8px!important; }
	nav .nav-link:hover, nav .nav-link.active {
		cursor: pointer!important;
		color: #fff!important;
	}
	
	.navbar-brand {
		font-size: 14px!important;
	}
	
	#skill [class*="col-"] { padding: 0px 5px; }
	.skill-item { height: 180px; }
	.skill-item .content i { font-size: 30px!important; }
	.skill-item .content p { font-size: 10px; }
}