html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px!important;
}
.parallax {
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-blur {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: -60px;
	background-color: rgba(0, 0, 0, .7);
	z-index: 0;
}

.row { margin: 0!important;}

td.block{
	width: 1%;
	white-space: nowrap;
}

.pt-nav{
	padding-top: 60px;
}
.pb-nav{
	padding-bottom: 60px;
}

.bg-theme {
	background-image: url('./assets/img/bg.png');
}

.bg-grey {
	background-color: #22262a!important;
}

.bg-black {
	background-color: #000!important;
}

.bg-section2 {
	background-color: #22262a!important;
	color: #fff;
}.bg-section2 hr{
	border-color: #fff!important;
}

ul.list-tech {
	margin-top: 30px;
}
ul.list-tech li {
	margin-top: 6px;
	margin-bottom: 6px;
}